
@{
    Layout = null;
}

<h3>MVC Kamp Cədvəl Nümunəsi - Kateqoriya</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıqlama</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Təhsil</td>
        <td>Açıqlama verdik</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>İdman</td>
        <td>Açıqlama verdik</td>
        <td>True</td>
    </tr>
</table>
